<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="content not-found">
        <table>
          <tr>
            <th>Título</th>
            <th>Resumen</th>
            <th>Contenido</th>
          </tr>
          <tr>
            <td>
              <%= blog.title %>
            </td>
            <td>
              <%= blog.resume %>
            </td>
            <td>
              <%= blog.body %>
            </td>
          </tr>
        </table>
        <a data-id="<%= blog.id %>" class="delete">Eliminar</a>
        <a href="/blog/update/<%= blog.id %>" class="update">Actualizar</a>
      </div>
      <%- include("./partials/footer.ejs") %>
      <script src="/js/script-delete.js"></script>
  </body>

</html>