<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
            <%- include("./partials/nav.ejs") %>
                    <h2>Listado de blogs</h2>
                    <div class="content">
                        <% if(blogs.length> 0){ %>
                            <% blogs.forEach(blog=> { %>
                                <div class="card m-1 cards">
                                    <div class="card-body">
                                        <h5 class="card-title title">
                                            <%= blog.title %>
                                        </h5>
                                        <p class="card-text resume">
                                            <%= blog.resume %>
                                        </p>
                                        <a href="/blog/<%= blog.id %>" class="btn btn-primary">Detalles</a>
                                    </div>
                                </div>
                                        <% }) %>
                                            <% } else {%>
                                                <h3>No hay blogs</h3>
                                                <% } %>
                    </div>
                <%- include("./partials/footer.ejs") %>
    </body>

</html>