<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container mt-3">
      <%- include("./partials/nav.ejs") %>
      <h2>Listado de blogs</h2>
      <div class="content">
        <div class="row">
          <% if(blogs.length> 0){ %> <% blogs.forEach(blog=> { %>
          <div class="col-sm-2 col-1">
            <div class="card m-1">
              <div class="card-body">
                <h6 class="card-title title"><%= blog.title %></h6>
                <p class="card-text resume"><%= blog.resume %></p>
                <a href="/blog/<%= blog.id %>" class="btn btn-primary"
                  >Detalles</a
                >
              </div>
            </div>
          </div>
          <% }) %> <% } else {%>
        </div>
        <div class="alert alert-danger" role="alert">
          No hay blogs que mostrar
        </div>
      </div>
      <% } %> <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
